/*Name: Victor Malchikov
*/

#content {
	width:950px;
	margin: 0px auto; padding: 5px;
        text-align: left; /* Counteract to IE/Win Hack */
	border:1px dashed #333;
	background-color:#eee;
         }    


body {

     background-image:url(../images/simple_background.jpg);
	 background-color: black;

}



/* NAVIGATION */


ul#mainNav {

	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 160px; 
        
}
#mainNav li {
	float: left;
	width: 12em;
}

#mainNav a {
	text-decoration: none;
	color: #000000;
	font-size: 11px;

	border: 1px dashed #999999;
	border-bottom: none;
	display: block;
	padding: 7px 5px 2px 30px;
	background: #E7E7E7 url(../images/go_to.png) no-repeat left center;
}

#mainNav a:hover {
	font-weight: bold;
	background: #B2F511 url(../images/go.png) no-repeat 5px 50%;
}

/* special formatting for home page link */
a#homeLink {
	background: #E7E7E7 url(../images/home.png) no-repeat 5px 52%;
}

/* styles for the "you are here" buttons */
#uAreHere #mainNav a#activeLink {
	background: #FFFFFF url(bg_here.png) no-repeat 5% 50%;
	padding-right: 15px;
	padding-left: 30px;
	font-weight: bold;
	padding-bottom:10px;
	color: #B2F511;
	border: 1px solid #000000;	
}

/* IE Fixes */

/* force hover on entire width of  link */
* html #mainNav a {
	height: 1px;
}


h1 {
color: #a020f0;
text-align: center;
margin-top: 5px;
margin-left: 125px;
margin-right: 125px;
font-style:oblique;
font-style:italic; 
font-variant:normal; 
font-size:20pt; 
font-family: Batang, Britannic Bold, Broadway, Forte; 
}

h2 { 
color:#C80000;
text-align: center;
margin-top: 5px;
font-variant:normal; 
font-size:20pt; 
font-family: Batang, Britannic Bold, Broadway, Forte; 
}

h3 { 
color:#C80000 ;
text-align: center;
margin-top: 5px;
margin-left: 125px;
margin-right: 125px;
font-variant:normal; 
font-size:20pt; 
font-family: Batang, Britannic Bold, Broadway, Forte; 
} 

p { 
text-align: center;
margin-left: 125px;
margin-right: 125px;
font-variant:normal; 
font-size:12pt;
font-weight:normal; 
font-family: "Times New Roman", Times, serif
}

p.comic {
text-align: center;
margin-left: 125px;
margin-right: 125px;
font-variant:normal; 
font-size:12pt;
font-weight:normal; 
font-family: "Comic Sans MS", cursive, sans-serif
 }

p.tv { 
text-align: center;
margin-left: 125px;
margin-right: 125px;
font-variant:normal; 
font-size:12pt;
font-weight:normal; 
font-family: Arial, Helvetica, sans-serif
} 

cite {
color:red; 
}

td p{
color:red;
}

table {
background-color:#B8B8B8;
}

.centeredImage
{
    display:block;
	padding-right:40px;
}


a {
color: #C80000;
text-decoration: none;
}

a:link {
color:#C80000;
}

a:hover  { 
color:#8f0052;
text-decoration: underline;
background-color: #CC9900;
}
	
/* END of style rules within linksty.css */























